body {
  background-image: url("https://cmworks.github.io/src/background.png");
  background-size: cover;
  padding: 0;
  border: 0;
}
h1 {
  background-image: url("https://cmworks.github.io/src/banner.png");
  text-align: center;
  color: 	#C5B358;
  font-size: 50px;
  padding: 50px;
}
a {
  color: white;
  text-decoration-line: none;
  font-size: 30px;
}
a:hover {
  color: blue;
}
.enlargeImage {
  cursor: zoom-in;
  border-radius: 5px;
  border: 1px solid grey;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  width: 90%;
  height: 20%;
}
.enlargeImage:hover {opacity: 0.7;}

.enlargeImage::selection{
  cursor: cell;
}

table {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
table, th, tr{
  color: white;
  border: 1px solid gold;
}
th.top {
  padding: 10px;
  border-top: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
}
th.top:hover {
/*   background-color: lightgray; */
  background-color: rgba(0,0,0,0.9);
}
th.bottom {
  padding: 10px;
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: none;
}
td.image {
  border-right: 1px solid gold;
  border-left: 1px solid gold;
}
td.info {
  border-right: 1px solid gold;
}
td.hidden {
  border-left: 1px solid gold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
    cursor: zoom-out;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
